*{
	box-sizing: border-box;
}
.container{
	padding: 16px;
	margin: 60px auto;
	width: 500px;
}
h2{
	text-align: center;
	letter-spacing: 1px;
	font-family: 'Baloo Paaji 2';
}
input[type =text],
input[type = password]{
	width:100%;
	padding: 15px;
	margin: 5px 0 22px 0px;
	display: inline-block;
	border:none;
	background-color: #f1f1f1;
}

input[type=text]:focus,
input[type = password]:focus{
	background-color: #ddd;
	outline: none;
}
select{
	margin-bottom: 10px;
}
#dateofbirth{
	margin-bottom: 10px;
}
#favcolor{
	margin-bottom: 10px;
}
hr{
	border:1px solid #f1f1f1;
	margin-bottom: 25px;
}

.signup{
	background-color: #00848C;
	color: white;
	padding: 16px 20px;
	margin: 8px 0;
	border:none;
	cursor:pointer;
	width: 100px;
	opacity: 0.9;
}
.registerbtn:hover{
	opacity: 1;
}
a{
	color: dodgerblue;
}

li{
	list-style-type: none;
	margin:0;
}

form{
	margin-right: 10px;
	margin-left: 10px;
}
